body{
  width: 60%;
  margin: 3em 20%;
  font-family: 'Lato', sans-serif;
}
::root {
    counter-reset: articles;
}
a{
  color: #000;
  text-decoration: none;
}
/* Header Animation */

h1{
	font-family: 'LeagueSpartan', 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0px;
  display: inline-block;
}
