body{
  width: 60%;
  margin: 3em 20%;
  font-family: 'Lato', sans-serif;
}
a{
  color: #000;
  text-decoration: none;
}
/* Header Animation */

h1{
	font-family: 'LeagueSpartan', 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin: 0px;
  display: inline-block;
}

.shop{
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
}
.asset{
  background: #fff;
  box-shadow: 0 10px 22px rgba(0,0,0,.08);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.asset img{
  width: 100%;
}
.asset .description{
  padding: 1em;
}
h3{
  font-size: 13pt;
}
.preis{
  color: #fff;
  background: #44b5f1;
  padding: 1em;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-shadow: 0 0 10px #2b354242;
  -webkit-transition: letter-spacing 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: letter-spacing 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  border-radius: 50em;
}
.asset:hover .preis{
  letter-spacing: 0.3em;
  -webkit-transition: letter-spacing 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: letter-spacing 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
