*{
	font-family: 'Lato', sans-serif;
}
body{
	margin: 0;
	background: url(../../resources/images/background.png) #fff;
	background-repeat: repeat;
	background-size: auto auto;
	background-size: contain;
	background-repeat: no-repeat;
}
::selection {color: white; background-color: black;}
::-moz-selection {color: white; background-color: black;}

h1{
	font-family: 'LeagueSpartan', 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 30px;
	margin-bottom: 30px;
}
ul{
  padding: 0;
  list-style-type: none;
}
ul li{
  display: inline-block;
  margin-left: 1em;
  font-size: 18pt;
  box-shadow: inset 0 -0.7rem 0 0 #e4f5ff;
  color: #00000061;
}
ul li:first-child{margin: 0;}
ul li.anchor{
	-webkit-transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: inset 0 -0.7rem 0 0 #b7e6ff;
  color: #000;
}
ul li.anchor:hover{
  box-shadow: inset 0 -1.2rem 0 0 #b7e6ff;
  -webkit-transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
a{
	color: #000;
	text-decoration: none;
}
a.text{
  color: #3e3e3e;
  text-decoration: none;
  position: relative;
	font-weight: 300;
	margin-right: 20px;
	-webkit-transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: inset 0 -0.4rem 0 0 #b7e6ff;
}
a.text:hover{
	box-shadow: inset 0 -0.75rem 0 0 #b7e6ff;
  -webkit-transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.icon{
	vertical-align: middle;
	height: 20pt;
	margin-right: 8px;
}
header{
	display: flex;
	justify-content: center;
	height: calc(100vh - 6em);
}
.infos{
	text-align: right;
	margin: auto;
}
.infos h1{
	font-family: 'LeagueSpartan', 'Montserrat', sans-serif;
	font-size: 7em;
	font-weight: 700;
	margin: 0;
}
.infos .decorative{
	font-size: 1.5em;
	margin: 0;
	margin-top: -1.25em;
display: block;
}
.infos p{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 20px;
}
.infos .icon{
	vertical-align: middle;
	color: #929292;
	margin-right: 10px;
}

.content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 1em;
	grid-row-gap: 2em;
  margin: 0 10%;
  width: 80%;
}
.item{
  background: #fff;
	box-shadow: 0 10px 22px rgba(0,0,0,.08);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	padding: 0px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.item:hover {
  box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
  transform: translateY(-20px);
}
.darkmode--activated .item{
	background: #171717;
}
.darkmode--activated .item .description .main, .darkmode--activated .item .description p{
	color: #fff;
}
.item video, .item img{
  width: 100%;
}
.category{
	background: #d4d4d4;
	color: #909090;
	font-size: 10px;
	padding: 0 10px;
	border-radius: 13px;
	text-transform: uppercase;
	letter-spacing: 0.6px;
	vertical-align: bottom;
	float: right;
}
.item .description{
	padding: 1em 2em;
}
.item:hover .description {
	display: block;
}
.item .description .main{
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	color: #333;
}
.item .description p {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #757575;
}
.item:hover .overlay{
	opacity: 1;
}
.overlay {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    background: rgba(255,255,255,0.9);
    transition: opacity 0.5s;
}
.overlay p{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: Montserrat, sans-serif;
	font-size: 20px;
}

@media (max-width: 650px) {
	body{
		background-size: 200%;
	}
	.content .item{
		grid-column-start: 1;
		grid-column-end: 3;
		text-decoration: none;
	}
	.infos{
		width: 80%;
		padding: 0;
	}
	.item .description .main{
		text-align: center;
	}
	.category{
		float: inherit;
		display: inline-block;
	}
}
.languageButton svg {
    width: 30px;
    height: 30px;
}
.languageButton {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: 0.6;
		transition: .3s ease-out opacity;
}
.languageButton:hover {
	opacity: 1;
}
