html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
  background: #f6f9fc;
}
::selection {color: white; background-color: black;}
::-moz-selection {color: white; background-color: black;}
a.text{
  color: #3e3e3e;
  text-decoration: none;
  position: relative;
	font-weight: 300;
	-webkit-transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  box-shadow: inset 0 -0.4rem 0 0 #b7e6ff;
}
a.text:hover {
  box-shadow: inset 0 -0.75rem 0 0 #b7e6ff;
  -webkit-transition: all 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: box-shadow 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.darkmode--activated a.text{
	color: #fff;
	box-shadow: inset 0 -0.7rem 0 0 #0072ae;
}
.darkmode--activated a.text:hover{
	box-shadow: inset 0 -1.2rem 0 0 #0072ae;
}
a.text#external{
  box-shadow: inset 0 -0.4rem 0 0 #f9bbbb;
}
a.text#external:hover{
  box-shadow: inset 0 -0.75rem 0 0 #f9bbbb;
}
a.text svg{
  height: 14px;
  vertical-align: baseline;
}
#live::before {
  background-color: #f9bbbb;
}
.head{
  background: var(--background);
  width: 100%;
  margin-bottom: 120px;
  box-shadow: 0 1px 28px #0003;
  margin: 0 0 -50px 0;
  height: 500px;
  position: relative;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.darkmode--activated .head {
    mix-blend-mode: difference;
}
.edge{
  height: 150px;
  background: white;
  transform: skewY(-4deg);
  margin-top: -150px;
}
.headerImage{
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 120px;
  z-index: -1;
  position: relative;
}
.back{
  display: inline-block;
  color: #333;
  margin: 1.5em 0 0 2em;
  position: absolute;
}
.back {
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 128ms ease-in;
}
.back::before{
    background-image: url(../images/arrow-left.svg);
}
.back::after {
    background-image: url(../images/arrow-left-blue.svg);
}
.back::before, .back::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(0px);
  transition: transform .3s ease-out;
}
.back:hover{
  transform: scale(1.05) translate3d(0, 0, 0);
}
.back:hover::before, .back:hover::after{
  transform: translateX(-40px);
  transition: transform .3s ease-out;
}
.back::after{
      left: 40px;
}
.content{
  width: 60%;
  margin: 0 20%;
  color: #333;
  line-height: 1.42857143;
  text-align: center;
}
.content::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 361px;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
  background: #f6f9fc;
  left: 0;
  z-index: -1;
}
.content h1{
  margin: 0 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: left;
}
.content h2{
  margin: 20px 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: left;
}
.content p, .content ul{
  margin: 0.5em 20%;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  text-align: left;
}
.darkmode--activated .content p, .darkmode--activated .content ul{
  font-weight: 400;
  color: 000;
}
.content .code{
  background: #d5d5d5;
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
  padding: 5px;
}
.content img, .content iframe{
  width: 100%;
  margin: 40px 0;
  border: 4px solid white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 22px;
}
.content iframe{
  height: 20em;
}
.content img.static, .content iframe.static{
  border-radius: 0;
  border: 0;
  box-shadow: none;
}
.content img.zoom-img, .content iframe.zoom-img{
  box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 20px rgba(86, 86, 86, 0.15);
  transition: .3s ease all;
}
.zoom-overlay{
  background: #fffc !important;
}
.footer{
  text-align: center;
  background: var(--background);
  padding: 2em;
  margin-top: 5em;
  color: var(--footer-color);
  isolation: isolate;
}
.footer p{
  margin: 0;
}
.footer a.text{
  color: var(--footer-link-color);
}
@media (max-width: 650px) {
  .headerImage{
    height: 200px;
    padding-top: 50px;
  }
  .head{
    height: 300px;
  }
  .content{
    width: 100%;
    margin: 0;
  }
  .content::before {
    top: 235px;
  }
}


#Reading-progress {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 2px;
  margin: 0px;
  left: 0px;
  z-index: 99;
}

.bar {
  height: 2px;
  background: var(--background);
  position: fixed;
  top: 0px;
  z-index: 99;
}
